/* .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
   */

  .stroke-w {
    -webkit-text-stroke: 2px white;
    paint-order: stroke fill;
  }
  
  .stroke-b {
    -webkit-text-stroke: 2px #0B2D71;
    paint-order: stroke fill;
  }
  